/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #45badd;
}


.title{
  text-align: center;
  justify-content: left;
  color: white;
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  font-size: 26px;
  top: 20%;
  text-shadow: 2px 2px 10px;

}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('robot.gif');
  background-size: 70%;
  background-position: 125% center;
  background-repeat:no-repeat

}


.tenor-gif-embed{
  display: flex;
}

button {
  cursor: pointer;
  align-items: center;
  outline: none;
  width: 240px;
  height: 60px;
  margin-bottom: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  background: #d22d67;
  box-shadow: -2px 2px 20px 10px rgba(0,0,0,0.4);
}

button:hover{
  filter: brightness(110%);
}

button:active{
  transform: scale(0.95); 
  /* donne l'impression qu'on appuie dessus */
}

button:disabled{
  cursor: default;
  filter: brightness(30%);
}


label {
  outline: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  margin: 0px auto;
  margin-bottom: 6px;
  text-shadow: 2px 2px 10px;
}

select {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  border: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  background: #d22d67;
  box-shadow: -1px 1px 12px 6px rgba(0,0,0,0.4);
}

select:active{
  transform: scale(0.95); 
  /* donne l'impression qu'on appuie dessus */
}


img{
  width: 20px;
  position: relative;
  top: 4px;
  left: 3px;
}

.buttons-container{
  display: grid;
  position: relative;
}

/* Media query tablettes et smartphones */
@media screen and (max-width: 800px) {
  .container {
    background-size: cover;
    background-position: center;
  }  

  .title{
    top: 10%;
    font-size: 22px;
  
  }
  
  button{
    position: relative;
    top: 15%;
  }


  .buttons-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 35%;
  }
}

